*.log
*.pot
*.pyc
*.swp
*.swo
*~
tags
src/secret.txt
tools/fabfile.py
tools/sites.txt

src/whoosh/index_*
!src/whoosh/index_demo

src/activate_*.sh
!src/activate_demo.sh

src/settings/*.py
!src/settings/__init__.py
!src/settings/common.py
!src/settings/demo.py
!src/settings/demo_pro.py

src/skins/*
!src/skins/demo/*

