{% extends "macadjan/main-page.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{{ current_site_info.website_name }}{% endblock %}

{% block content %}
    <h1>{% trans "Sincronización de bases de datos" %}</h1>

    {% if not db_links %}
        <h3>{% trans "No hay ninguna b.d. registrada para sincronizar, por favor registra una desde el admin." %}</h3>
    {% else %}
        <h3>{% trans "Selecciona la b.d. con la que quieres sincronizar:" %}</h3>
        <ul>
            {% for db_link in db_links %}
                <li>
                    <a href="{% url "sync-db" id_link=db_link.id %}">
                        {{ db_link.other_db_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="messages">
            <li class="error">
                {% trans "ATENCIÓN: Esta operación puede hacer cambios masivos en la base de datos. Si se rompe algo, tenemos copia de seguridad actualizada todos los días. Contacta con los administradores de Mapunto para restaurar una del día anterior, pero se perderá todo lo que se haya hecho desde entonces." %}
            </li>
        </ul>
    {% endif %}

    <p><a href="{% url 'admin:index' %}">{% trans "Volver al panel de administración" %}</a></p>

{% endblock %}

