{% extends "macadjan/main-page.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Proponer nueva entidad' %} - {{ current_site_info.website_name }}{% endblock %}

{% block content %}
    {% if not form.instance.existing_entity %}
    <h1>{% trans 'Proponer una nueva entidad' %}</h1>
    <p>{% trans '¿Quieres aparecer en el mapa? Rellena este formulario y te daremos de alta.' %}</p>
    {% else %}
    <h1>{% blocktrans with entity_name=form.instance.existing_entity.name %}Modificar datos de {{ entity_name }}{% endblocktrans %}</h1>
    <p>{% trans '¿Quieres modificar los datos que salen en el mapa? Rellena este formulario y los cambiaremos.' %}</p>
    {% endif %}
    {% blocktrans %}
        <p>Asegúrate de ser la persona titular de esta información, o de contar con su autorización.</p>
        <p>Las casillas con (*) son obligatorias, el resto son opcionales, pero cuanto más información nos des,
        más útil será la ficha para los visitantes del mapa. Como mínimo procura rellenar la casilla Descripción
        y algún dato de contacto (teléfono, web, email, etc.). Además deberás rellenar la dirección o bien las
        casillas Latitud/Longitud si quieres salir en el mapa; de lo contrario la entidad aparecerá listada en
        la pestaña "Entidades sin ubicación geográfica".</p>
    {% endblocktrans %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form name="proposal_form" method="post">
    <table>
        {% csrf_token %}

        <table width="100%" class="form_table">
            <colgroup>
                <col width="20%"/>
                <col width="30%"/>
                <col width="50%"/>
            </colgroup>
            <tbody>
                {% for field in form %}
                    <tr>
                        <th>
                            {{ field.label_tag }}
                            {% if field.field.required %} (*){% endif %}
                        </th>
                        <td>
                            {{ field }}
                            {{ field.errors }}
                        </td>
                        <td class="help_text">
                            {{ field.help_text }}
                            {% if field.field.hints %}
                                <br/>
                                <a href="#" id="open_hint_{{ field.name }}">{% trans 'Más ayuda' %}</a>
                                <a href="#" id="close_hint_{{ field.name }}">{% trans 'Cerrar' %}</a>
                                <div id="hint_content_{{ field.name }}">
                                    <p>{{ field.field.hints|linebreaksbr }}</p>
                                </div>
                                <script>
                                    $("#close_hint_{{ field.name }}").hide();
                                    $("#hint_content_{{ field.name }}").hide();
                                    $('#open_hint_{{ field.name }}').click(function(){
                                        $("#open_hint_{{ field.name }}").hide();
                                        $("#close_hint_{{ field.name }}").show();
                                        $("#hint_content_{{ field.name }}").show();
                                    });
                                    $('#close_hint_{{ field.name }}').click(function(){
                                        $("#open_hint_{{ field.name }}").show();
                                        $("#close_hint_{{ field.name }}").hide();
                                        $("#hint_content_{{ field.name }}").hide();
                                    });
                                </script>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="boton_principal">
            <input type="submit" name="submit_form" value="{% trans 'Enviar' %}"/>
        </div>
        <div>
            {% blocktrans %}
            <p>La información aquí enviada, en caso de ser aprobada, pasará a formar parte de la base de datos de
            este mapa con el fin de ser mostrada públicamente en el mismo, o también posiblemente en otro de los
            mapas de la red de mapeo de alternativas en la que este mapa está integrado.</p>
            <p>Una excepción son las casillas "Email de quien hace la propuesta" y "Comentarios de la propuesta",
            que no se mostrarán nunca al público, y serán usadas exclusivamente para ponernos en contacto con esa
            persona y notificar el estado de la propuesta, si es o no aceptada, y por qué.</p>
            <p>En cualquier caso, quien hace la propuesta o la entidad en sí puede contactar con nosotros para
            consultar, modificar o borrar cualquiera de los datos, consultando la sección de contacto de esta web.</p>
            {% endblocktrans %}
        </div>
    </form>

{% endblock %}

