{# Special blocks for ecozoom map #}
<div class="block left">
    <p><strong>Red de mapas</strong></p>
    <p>Este mapa no es un mapa, sino ¡la suma de muchos mapas!</p>
    <p>Quienes realizan el trabajo de recopilación y catalogación son
    <a href="http://ecozoom.mapunto.net/quienes_somos/" target="_blank">todos estos colectivos</a>,
    y aquí simplemente los juntamos todos para poder consultar toda la información a la vez.
</div>
<div class="block right">
    <p><strong>¡Somos muchos más!</strong></p>
    <p>Si conoces o representas a alguna asociación, movimiento o grupo social que podría aparecer en el mapa
    de los movimientos sociales, sólo tienes que decirlo.</p>
    <p><a href="https://n-1.cc/pg/groups/1036944/mapa-de-movimientos-sociales/" target="_blank">¡Cuéntanoslo!</a>
    Nos pondremos en contacto para añadiros cuanto antes.</p>
</div>
{# end special #}

