Django==1.4
Fabric>=1.4.2
Pillow>=2.1.0
South>=0.7.3
Whoosh>=2.3.2
django-haystack>=2.0.0-beta
django-rosetta>=0.6.2
django-simple-captcha>=0.3.4
django-superview>=0.3.5
django-treemenus>=0.8.7
-e git://github.com/kaleidos/kfabric-tools.git@9b7479de9d062b4ed21a8184204887f7193c56e8#egg=kfabric_tools-dev
